*{
    margin:0%;
    padding:0;
      box-sizing: border-box;
}
.nav1{
    background-color: black;
    color:white;
    height: 4vh;
}
.nav2{
    background-color: rgb(231, 222, 222);
    
}
.links{
    margin-left: 150vh;
    height : 5vh;

}

.heading{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.cart{
    height:4vh;
}
.icons{
    float:right;
    margin-right: 20vh;
    
}